html, body { min-height: 100vh; }

body { background-color: #abed70; }

main {
  padding-top: 30px;
}

#Input {}
  #Input .fact .card-content .column:last-child { text-align: right; }
  #Input .fact .columns { margin-bottom: -.75rem; }

  #Input .fact .affected,
  #Input .fact .errors,
  #Input .fact .card-header,
  #Input .fact .card-footer { display: none; }
    #Input .fact:hover .affected,
    #Input .fact:hover .errors { display: block; }
    #Input .fact:hover .card-header,
    #Input .fact:hover .card-footer { display: flex; }

#Facts {}

.container {
  padding: 20px;
}

.title { color: inherit; }
.subtitle { color: inherit; }
.content { color: inherit; }
.table { color: inherit; background-color: inherit; }

nav.nav {

}

.card-header-title small {
  margin: 0 5px;
  font-weight: normal;
  color: #bbb;
}

.card {
  margin: 12px 12px 12px 0;
}

table.table td {
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}

.notie-container {
  top: auto !important;
  bottom: 0;
}

/* balloons.css */
button[title] {
  overflow: visible;
}
[title] {
  position: relative;
}
[title]:before,
[title]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.18s ease-out 0.18s;
  transition: all 0.18s ease-out 0.18s;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
[title]:after {
  background: rgba(17, 17, 17, 0.9);
  border-radius: 4px;
  color: #fff;
  content: attr(title);
  font-size: 12px;
  padding: .5em 1em;
  white-space: nowrap;
  margin-bottom: 11px;
}
[title]:before {
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  content: "";
  margin-bottom: 5px;
}
[title]:hover:before,
[title]:hover:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* landing page */

#landing {
  font-size: 127%;
}

#landing section { background-color: white; padding: 27px 0; }
#landing section.alt { background-color: #8884D8; color: white; }

#landing nav { background-color: #493831; }
#landing nav a { color: #FDEECD; }

#landing footer { background-color: #FDEECD; }

#landing section:first-of-type {
  background: #8884d8;
  background: -moz-linear-gradient(top, #adbbec 0%, #8884d8 88%, #8884d8 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #adbbec), color-stop(88%, #8884d8), color-stop(100%, #8884d8));
  background: -webkit-linear-gradient(top, #adbbec 0%, #8884d8 88%, #8884d8 100%);
  background: -o-linear-gradient(top, #adbbec 0%, #8884d8 88%, #8884d8 100%);
  background: -ms-linear-gradient(top, #adbbec 0%, #8884d8 88%, #8884d8 100%);
  background: linear-gradient(to bottom, #adbbec 0%, #8884d8 88%, #8884d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adbbec', endColorstr='#8884d8', GradientType=0 );
}

#landing .table tr:hover { color: inherit; background-color: inherit; }
#landing table td { text-align: center; }

#landing h1 {
  color: #493831;
  font-size: 3rem;
  margin: 20px auto;
  text-align: center;
}

#landing .box {
  margin: 0 10px;
  background-color: #493831;
  color: white
}
#landing .alt .box { background-color: white; color: #D24858; }

#landing .box.ui-colors {
  background: -moz-linear-gradient(45deg, #638349 0%, #7adb1f 7%, #07d9e4 29%, #e47aeb 48%, #ffc014 63%, #1f3e04 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #638349), color-stop(7%, #7adb1f), color-stop(29%, #07d9e4), color-stop(48%, #e47aeb), color-stop(63%, #ffc014), color-stop(100%, #1f3e04));
  background: -webkit-linear-gradient(45deg, #638349 0%, #7adb1f 7%, #07d9e4 29%, #e47aeb 48%, #ffc014 63%, #1f3e04 100%);
  background: -o-linear-gradient(45deg, #638349 0%, #7adb1f 7%, #07d9e4 29%, #e47aeb 48%, #ffc014 63%, #1f3e04 100%);
  background: -ms-linear-gradient(45deg, #638349 0%, #7adb1f 7%, #07d9e4 29%, #e47aeb 48%, #ffc014 63%, #1f3e04 100%);
  background: linear-gradient(45deg, #638349 0%, #7adb1f 7%, #07d9e4 29%, #e47aeb 48%, #ffc014 63%, #1f3e04 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#638349', endColorstr='#1f3e04', GradientType=1 );
}

#landing .box.signup { background-color: #005D7E; }
#landing .box.signup input,
#landing .box.signup .icon,
#landing .box.signup a { color: #EA8676; }
#landing .box.signup button { background-color: #EA8676; color: white; }
#landing .box.signup button:active { background-color: #D24858; }
#landing .box.signup input:hover { border-color: #EA8676; }
#landing .box.signup input:focus { border-color: #D24858; }
#landing .box.signup input:focus + .icon { color: #D24858; }
